AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_SESSION_TOKEN=

AWS_S3_BUCKET_NAME=kore-sptech
AWS_S3_REGION=us-east-1
AWS_S3_PUBLIC_BASE_URL=https://kore-sptech.s3.us-east-1.amazonaws.com

RABBITMQ_DEFAULT_USER=guest
RABBITMQ_DEFAULT_PASS=guest